*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template-columns: repeat(3,1fr)3fr;
   grid-template-areas: 
   "title1 . . ."
   "imagen . . ."
   ". . . . "
   "parrafo1 . . ."

   ;



}
.banner{
    background: var(-color--primary);
    position: absolute
}
.title1{
    font-weight:  -90%;
    grid-area: title1;
    position: relative;
    top: 50px;
    font-size: 70px;
    font-weight: 100;
}
.title2{
    grid-area: title2;
    position: relative;

}
.title3{
    grid-area: title3;
    font-size: 25px;
}
.parrafo1{
    grid-area: parrafo3;
    position: relative;
    top: 340px;
    left: -290px;
    font-size: 20px;
}
.logo img{
    position: relative;
    top: 360px;
    left: -320px;
    border-radius: 15px;
    grid-area: imagen;
}
.parrafo2,
.title2,
.imagen{
    position: relative;
    top: 60px;
    left: -150px;
    font-size: 23px;
    font-weight: 100;
    border-radius: 20px;

}
.imagen{
    width: 400px;

}
.parrafo2{
    font-size: 25px;
    width: -60px;
}
.parrafo3{
    font-size: 25px;
    width: -60px;    
}
.title3,
.parrafo3,
.imagen2{
    position: relative;
    top: 50px;
    font-weight: 100;
    border-radius: 20px;
    height: -80px;
    width: -80px;

}
.imagen2{
    width: 400px;
}
